<section class="hero main">
  <div class="wrapper pad-top">
    <h1 class="heading">DEAN MONOGENIS</h1>
    <ul class="nav flex">
      <li class="section-title subnav-trigger">Paintings
        <ul class="sub-nav one">
          <li><a href="#/">2015</a></li>
          <li><a href="#/">2014</a></li>
          <li><a href="#/">2013</a></li>
          <li><a href="#/">2012</a></li>
          <li><a href="#/">2011</a></li>
          <li><a href="#/">2010</a></li>
          <li><a href="#/">2009</a></li>
          <li><a href="#/">2008</a></li>
          <li><a href="#/">2007</a></li>
          <li><a href="#/">2006</a></li>
          <li><a href="#/">2005</a></li>
          <li><a href="#/">2004</a></li>
          <li><a href="#/">2003</a></li>
          <li><a href="#/">2002</a></li>
        </ul>
      </li>
      <li><a href="#/">Outdoor Painting</a></li>
      <li class="section-title subnav-trigger">Works On Paper
        <ul class="sub-nav two">
          <li><a href="#/">2013</a></li>
          <li><a href="#/">2012</a></li>
          <li><a href="#/">2011</a></li>
          <li><a href="#/">2010</a></li>
          <li><a href="#/">2008</a></li>
          <li><a href="#/">2006</a></li>
          <li><a href="#/">2003</a></li>
          <li><a href="#/">2002</a></li>
          <li><a href="#/">2001</a></li>
        </ul>
      </li>
      <li><a href="#/">Sculpture </a></li>
      <li class="section-title subnav-trigger">Info
        <ul class="sub-nav three">
          <li><a href="#/">CV</a></li>
          <li><a href="#/">Contact</a></li>
          <li><a href="#/">Statement</a></li>
        </ul>
      </li>
      <li><a href="#/">News and Updates</a></li>
    </ul>
  </div>
</section>