/* BASE */
* { 
    box-sizing: border-box;
    /* *behavior: url(assets/library/boxsizing.htc); */
}
html {
 /*  font-size: $baseline;
  color: $site-color; */
  color: black;
  height: 100%;
  width: 100%;
}

body {
    /* background: $site-background; */

  text-transform: none;
  text-decoration: none;
  text-align: left;

  word-wrap: normal;

  height: 100%;
  width: 100%;
  overflow-x: hidden;

  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  /* color: $site-dark-gray; */
  color: black;

  font-family: "Open Sans", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
/* // BASE */

/* CLEARFIX */
.cf:before,
.cf:after {
  content: " "; /*  1  */
  display: table; /*  2  */
}

.cf:after {
  clear: both;
}

/* FLEX */
.flex {
  width: 100%;
  display: flex;
  
  flex-flow: row nowrap; 
}
.flex .flex-item {
  width: 100%;
  margin:0 auto;
}
/** FLEX COLUMNS **/
.flex-col {
  display: flex;
  flex-flow: column nowrap; 
}
/** FLEX GUTTERS **/
.flex-gutter {
    padding: 0 1rem 0 1rem;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-center {
  align-items: center; 
}
.flex-baseline {
  align-items: baseline;
}
.flex-justify-center {
  justify-content: center;
}
.flex-top {
  align-items: flex-start;
}
.flex-bottom {
  align-items: flex-end;
}

/* SLICES (display: table) */
.slice {
  width: 100%;
}
.slice-table {
  display: table;
}
.slice-table.slice-fixed {
  table-layout: fixed;
}
.slice-table .slice-item {
  display: table-cell;
}
.slice-table .slice-table-row {
  display: table-row;
}
.slice-align-top {
  vertical-align: top;
}
.slice-align-middle {
  vertical-align: middle;
}
.slice-align-bottom {
  vertical-align: bottom;
}

/* WRAPPER */
.wrapper {
  max-width: 1080px;

  margin-right: auto;
  margin-left: auto; 

  padding:0 20px;
}

/* WIDTHS */
.width-100 { width: 100%}
.width-66 { width: calc(100% / 3) * 2}
.width-50 { width: 50%}
.width-33 { width: calc(100% / 3)}
.width-25 { width: 25%;}

/* PADDING */
.pad-top { padding-top: 2rem;}

/* NAVIGATION */
.nav { 
  padding: 1rem 0;
  text-align: left;

  position: relative;
}
.nav.flex { flex-flow: row wrap;}
.nav > li {
  padding: .5rem  1.5rem;

}
.nav > li:first-child {
  padding-left: 0;
}

.subnav-trigger { cursor: pointer}
.sub-nav {
  max-height: 0;
  /*height: 100%; */
  opacity: 0;
  width: 100%;
  padding: 1rem .5rem;
  
  background-color: #E5ECE9;
  border-radius: 2px;
  
  display: flex;
  flex-flow: row wrap;

  position: absolute;
  top: 55px;
  left: 0;
  transition: max-height .3s, opacity .5s;
}
.sub-nav.is-active {
  max-height: 100%;
  opacity: 1;
}
.sub-nav:after {
  content: " ";
  display: block;
  
  position: absolute;
  top: 0;
  left: 0;

  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid  #E5ECE9;
}
.sub-nav.one:after {
  top: -15px;
  left: 12px;
}
.sub-nav.two:after {
  top: -15px;
  left: 350px;
}
.sub-nav.three:after {
  top: -15px;
  left: 582px;
}
.sub-nav > li {
  padding: 0 1rem 0 0;
}
.sub-nav > li:first-child {
  padding-left: 0;
}

/* HERO */
.hero.main {
  /*background-color: #41463D;*/
  color: black;
  padding: 3rem 0;
  border-radius: 2px
}

.hero.main .heading {
  font-size: 5rem;
}

/* IMAGES */
.img-wrapper {}
.img-wrapper img {margin-bottom: .5rem; }
.img-wrapper .flex-item { padding: 1rem 0;}
.img-wrapper .flex-item:first-child { padding: 0 0;}

/* RESPONSIVE CSS */
@media screen and (max-width: 1080px)  {
  
}

@media screen and (max-width: 768px)  {
  .slice-table { display: block;}

  .slice-table > .slice-item { 
    display: block;
    width: auto;
  }
  .menu { 
    width: 100%;
  }
  .nav.flex {
    flex-flow: row nowrap; 
  }
  .nav > li { 
    padding: 0 .5rem .5rem;
  }
  .nav > li:first-child { padding: 0 .5rem 0 0;}
  .nav > li:last-child { padding: 0 0 0 .5rem;}
}

@media screen and (max-width: 480px) {
  /*.nav.flex {
    flex-flow: row wrap;
  }*/
  .nav > li { 
    padding: 0 1rem .5rem 0;
    font-size: .8rem;
  }
}
