<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en-US" dir="ltr"><!--<![endif]-->
    
 
<head>
  <title>Dean Monogensis</title>
  <meta charset="utf-8">
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link href="/assets/style/style.min.css" rel="stylesheet" />
  
</head>

<body>
  <div class="sidebar">
    <nav class="nav">
      <header class="nav-head">
        <h1 class="heading">DM</h1>
      </header>
      <ul class="nav-list">
        <li class="nav-item subnav-trigger">Paintings
          <!-- <ul class="sub-nav one">
            <li><a href="#/">2015</a></li>
            <li><a href="#/">2014</a></li>
            <li><a href="#/">2013</a></li>
            <li><a href="#/">2012</a></li>
            <li><a href="#/">2011</a></li>
            <li><a href="#/">2010</a></li>
            <li><a href="#/">2009</a></li>
            <li><a href="#/">2008</a></li>
            <li><a href="#/">2007</a></li>
            <li><a href="#/">2006</a></li>
            <li><a href="#/">2005</a></li>
            <li><a href="#/">2004</a></li>
            <li><a href="#/">2003</a></li>
            <li><a href="#/">2002</a></li>
          </ul> -->
        </li>
        <li class="nav-item"><a href="#/">Outdoor Painting</a></li>
        <li class="nav-item subnav-trigger">Works On Paper
          <!-- <ul class="sub-nav two">
            <li><a href="#/">2013</a></li>
            <li><a href="#/">2012</a></li>
            <li><a href="#/">2011</a></li>
            <li><a href="#/">2010</a></li>
            <li><a href="#/">2008</a></li>
            <li><a href="#/">2006</a></li>
            <li><a href="#/">2003</a></li>
            <li><a href="#/">2002</a></li>
            <li><a href="#/">2001</a></li>
          </ul> -->
        </li>
        <li class="nav-item"><a href="#/">Sculpture </a></li>
        <li class="nav-item subnav-trigger">Info
          <!-- <ul class="sub-nav three">
            <li><a href="#/">CV</a></li>
            <li><a href="#/">Contact</a></li>
            <li><a href="#/">Statement</a></li>
          </ul> -->
        </li>
        <li class="nav-item"><a href="#/">News and Updates</a></li>
      </ul>
    </nav>
  </div>

  <div id="container">
      <!-- header -->
      {{= it.include("header") }}

      <div id="content">
        {{= it.document }}
      </div>

        {{= it.include("footer") }}
  </div>


  <script type="text/javascript" src="/assets/library/lib.min.js"></script>
  <script type="text/javascript" src="/assets/scripts/app.min.js"></script>

</body>
</html>
